        <ul class="nav">
          <li class="active ">
            <a href="./">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./map">
              <i class="tim-icons icon-compass-05"></i>
              <p>Map View</p>
            </a>
          </li>
          <li>
            <a href="./">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Contact</p>
            </a>
          </li>
        </ul>
