       <div class="container-fluid">
          <!-- LEFT SIDE HEADER TITLE -->
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">FL K12 Covid</a>
          </div>
          <!-- End title-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
             <!-- START HORIZONTAL UNORDERD LIST HEEADER JUSTIFY RIGHT-->
            <ul class="navbar-nav ml-auto ">
              <div class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i></button>
                
              </div>
                <!-- List items go horizontal, nest ul vertical -->
              <!-- New header li dropdown -->
              <!--LOGOUT -->
              <li class="dropdown nav-item">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                </li>
              <!-- end nav item -->
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>