{% extends "dash.html" %}
    {% block title %}Case Summary{% endblock %}
    {% block header %}Home{% endblock %}
    {% block contentrow %} 
         <!-- 2 table row -->
        <div class="row">
          <div class="col-lg-4">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Total Cases</h5>
			  </div>
			  <div class="table-responsive">
                <table class="table tablesorter " id="1">
				  <thead class=" text-primary">
                    <th colspan="2"><i class="tim-icons icon-refresh-01 text-success "></i> <SPAN CLASS= "text-success"><B>Updated: {{ last_updated }}</B></SPAN></th><th></th></thead>
                    <tr><td><i class="tim-icons icon-single-02 text-danger "></i> Summary </td><td colspan="3"><i class="tim-icons icon-notes text-danger "></i> All Cases</td></tr>
					<tr><td class=" text-primary"><b>{{ last_updated }} Total</b></td><td class=" text-primary"><b>Students</b></td><td><b>Employees</b></td><TD><b>Total</b></TD></tr>
                    
					<tr><td class=" text-primary">{{ todays_total }} cases</td><td class=" text-primary">{{ students }}</td><td>{{ employees }}</td><td>{{ students+employees }}</TD></tr>
                </table>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Districts</h5>
			  </div>
				<div class="table-responsive">
                  <table class="table tablesorter " id="2">
                    <thead class=" text-primary">
                      <th><i class="tim-icons icon-wifi text-success"></i> Totals Per District </th><th>Total</th><th>Percent of Total</th></thead>
				     {% for d in districts %}
					 <TR><TD>District {{ d[0] }} </TD><TD> {{ d[1] }}</TD>
						{% if (d[1]/(students+employees)*100)|round(1) > 25 %}
							<TD><SPAN CLASS="text-danger">{{ (d[1]/(students+employees)*100)|round(1) }}%</SPAN></TD></TR>
						{% elif (d[1]/(students+employees)*100)|round(1) > 20 and (d[1]/(students+employees)*100)|round(1) <= 25 %}
						    <TD><SPAN CLASS="text-warning">{{ (d[1]/(students+employees)*100)|round(1) }}%</SPAN></TD></TR>
						{% else %}
						    <TD><SPAN CLASS="text-success">{{ (d[1]/(students+employees)*100)|round(1) }}%</SPAN></TD></TR>
						{% endif %}
					{% endfor %}
						
					 </TABLE>
                </div>
			</div>
          </div> <!-- -->
        </div>	
		<div class="row">
		  <div class="col-lg-10">
		    <div class="card card-chart">
			 <div class="row2">
			   <div class="col-sm-6 text-left">
                    <h5 class="card-category">Total Cases</h5>
  			        <h4 class="card-title"><i class="tim-icons icon-sound-wave text-info "></i> Charts <h4>
                </div>
			    <div class="col-sm-6 ">
                  <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="a">
                        <input type="radio" name="options" autocomplete="off" checked> Last 14 Days
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple " id="b">
                        <input type="radio" name="options" autocomplete="off"> District Total
                      </label>
                  </div>
                </div>
			  </div>
			  <div class="card-body">	      
				<div class="chart-area">
                  <canvas id="timeChart"></canvas>
                </div>
              </div>
            </div>
		  </div>
        </div>
		<div class="row">
          <div class="col-lg-5 col-md-12">
			<div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Daily</h5>
                <h4 class="card-title"><i class="tim-icons icon-alert-circle-exc text-danger "></i>  {{ todays_total }} Cases reported on {{ last_updated }} </h3>
              </div>
              <div class="card-body ">
                <div class="table-responsive">
                  <table class="table tablesorter " id="4">
                    <thead class=" text-primary">
					  <th>
  					    School
					  </th>
                      <th>
                        Student
                      </th>
                      <th>
                        Employee
                      </th>
                    </thead>
                    <tbody>
					  <div class="card-body ">
						  {% for case in all_today %}
						  <tr>
							<td>
                              {% if case[1]+case[2] > 1 %}
							   <i class="tim-icons icon-alert-circle-exc text-danger  "></i> 
                              {% else %}
                               <i class="tim-icons icon-button-power text-success  "></i>
                              {% endif %} {{ case[0] }}
							</td>
							<td>
								{{ case[1] }}
							</td>
							<td>
								{{ case[2] }}
							</td>
							<td>
								
							</td>
						  </tr>
						  {% endfor %}						
					  </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> <!-- -->
          </div>	 
          <div class="col-lg-5 col-md-12">
			<div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Schools</h5>
                <h4 class="card-title"><i class="tim-icons icon-double-right text-danger "></i> Individual School Totals - click school name for report dates</h3>
              </div>
              <div class="card-body ">
                <div class="table-responsive">
                  <table class="table tablesorter " id="5">
                    <thead class=" text-primary">
					  <th>
  					    School
					  </th>
                      <th>
                        Student
                      </th>
                      <th>
                        Employee
                      </th>
					  <th>
                        Total
                      </th>
                    </thead>
                    <tbody>
					  <div class="card-body ">
						  {% for s in school_list_e	 %}
						  <tr>
							<td>
							{% if s[1]+s[2] < 15 %}  
                            <i class="tim-icons icon-button-power text-success  "></i>
                            {% elif (s[1]+s[2] > 15 and s[1]+s[2] < 25) %}
                            <i class="tim-icons icon-button-power text-warning  "></i>
                            {% else %}
                            <i class="tim-icons icon-alert-circle-exc text-danger  "></i>
                            {% endif %}
                            <a href="./report?school={{ s[0] }}">{{ s[0] }}</a>
							</td>
							<td>
								{{ s[1] }}
							</td>
							<td>
								{{ s[2] }}
							</td>
							<td>
								{{ s[1]+s[2] }}
							</td>
						  </tr>
						  {% endfor %}						
					  </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>	 
        </div>
					
		
    {% endblock %}
	{% block jsinclude %}
	
	<!-- Chart JS -->
    <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
	<!-- javascript init -->
	<script>
		function createChart(label, data, canvas_id) {
			gradientBarChartConfiguration = {
			  maintainAspectRatio: false,
			  legend: {
				display: false
			  },

			  tooltips: {
				backgroundColor: '#f5f5f5',
				titleFontColor: '#333',
				bodyFontColor: '#666',
				bodySpacing: 4,
				xPadding: 12,
				mode: "nearest",
				intersect: 0,
				position: "nearest"
			  },
			  events: [],
			  responsive: true,
			  scales: {
				yAxes: [{

				  gridLines: {
					drawBorder: false,
					color: 'rgba(29,140,248,0.4)',
					zeroLineColor: "transparent",
				  },
				  ticks: {
					suggestedMin: 0,
					suggestedMax: 5,
					padding: 5,
					fontColor: "#dbdbdb"
				  }
				}],

				xAxes: [{

				  gridLines: {
					drawBorder: false,
					color: 'rgba(29,140,248,0.3)',
					zeroLineColor: "transparent",
				  },
				  ticks: {
					padding: 5,
					fontColor: "#dbdbdb"
				  }
				}]
			  }
			};
		
			var data_array = data;
			var label_array = label;

			var ctx = document.getElementById(canvas_id).getContext('2d');
			var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

			gradientStroke.addColorStop(1, 'rgba(255,0,0,0.7)');
			gradientStroke.addColorStop(0.6, 'rgba(29,140,248,0.5)');
			gradientStroke.addColorStop(0, 'rgba(29,140,248,0.1)'); //blue colors
			var config = {			
				type: 'bar',
				responsive: true,
					legend: {
						display: false
					},
				data: {
					labels: label_array,
					datasets: [{
						label: "Run Time",
						fill: true,
						backgroundColor: gradientStroke,
						hoverBackgroundColor: gradientStroke,
						borderColor: '#1f8ef1',
						borderWidth: 2,
						borderDash: [],
						borderDashOffset: 0.0,
						data: data_array,
						}]
					},
				options: gradientBarChartConfiguration
				
			};
			if (typeof chartInstance !== 'undefined') {
			  chartInstance.destroy()
			}
			var chartInstance = new Chart(ctx, config);
        }

		  if (typeof chartInstance === 'undefined') {
		    
			createChart({{ date_array }}, {{ count_array }}, 'timeChart');  
		  }
		  $("#a").click(function() {
	        createChart({{ date_array }}, {{ count_array }}, 'timeChart');
		  });
		  $("#b").click(function() { 
			createChart({{ date_array2 }}, {{ count_array2 }}, 'timeChart');
		  });
		</script>
		<script>
		new Chart(document.getElementById("pie-chart"), {
			type: 'pie',
			data: {
			  display: false,
			  labels: {{ label_array }},
			  datasets: [{
				label: "Population (millions)",
				backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
				data: {{ district_array }}
			  }]
			},
			options: {
			   legend: {
				display: false,
				position: 'top'
			  },
			  title: {
				display: false,
				text: 'Predicted world population (millions) in 2050'
			  }
			}
		});
		</script>
	{% endblock %}

