{% extends "dash.html" %}
    {% block title %}Case Summary{% endblock %}
    {% block header %}School Report{% endblock %}
    {% block contentrow %} 
         <!-- 2 table row -->
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Site Report</h5>
				<div class="table-responsive">
                  <table class="table tablesorter " id="1">
                    <thead class=" text-primary">
                      <th><i class="tim-icons icon-wifi text-success"></i> School </th><th></th></thead>
				     <TR><TD>{{ location.school }}  {{ location.school_type }} District {{ location.district }}</TD></TR>
				     <TR><TD>{{ location.address }} {{ location.city }}, {{ location.state }} {{ location.zip_code }}</TD></TR>
					<TR><TD>{{ location.phone }}
						</TD></TR>
                   </table>

                </div>
			  </div>
            </div>
		   </div>	
		   <div class="col-lg-6">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Total Cases</h5>
				<div class="table-responsive">
                  <table class="table tablesorter " id="2">
				  <thead class=" text-primary">
                    <th><i class="tim-icons icon-refresh-01 text-success "></i> <SPAN CLASS= "text-success"><B>Page Last Updated: {{ last_updated }}</B></SPAN></th><th></th><th></th></thead>
                    <tr><td><i class="tim-icons icon-single-02 text-primary "></i> Summary </td><td colspan="2"><i class="tim-icons icon-notes text-primary "></i> All Cases</td></tr>
					<tr><td class=" text-primary">Total</td><td class=" text-primary">Students</td><td>Employees</td></tr>
                    
					<tr><td class=" text-primary">{{ students+employees }} <i class="tim-icons icon-chart-pie-36 text-success "></i> {{ ((students+employees)/cases*100)|round(1) }}% of district total</td><td class=" text-primary">{{ students }}</td><td>{{ employees }}</td></tr>
					<tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         </div>	
		 <div class="row">
          <div class="col-lg-4 col-md-12">
			<div class="card ">
              <div class="card-header ">
                <h5 class="card-category">Daily Emails</h5>
                <h4 class="card-title"><i class="tim-icons icon-alert-circle-exc text-danger "></i>  Cases summary for {{ location.school }}  {{ location.school_type }} </h3>
              </div>
              <div class="card-body ">
                <div class="table-responsive">
                  <table class="table tablesorter " id="4">
                    <thead class=" text-primary">
					  <th>
  					    Date
					  </th>
                      <th>
                        Student
                      </th>
                      <th>
                        Employee
                      </th>
                    </thead>
                    <tbody>
					  <div class="card-body ">
						  {% for d in school_detail %}
						  <tr>
							<td>
							  <i class="tim-icons icon-button-power text-danger  "></i> {{ d[1] }}
							</td>
							<td>
								{{ d[2] }}
							</td>
							<td>
								{{ d[3] }}
							</td>
							<td>

							</td>
						  </tr>
						  {% endfor %}						
					  </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>	 
		  <div class="col-lg-6">
		    <div class="card card-chart">
              <div class="card-header ">
                <div class="row2">
				  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Total Cases </h5>
  			        <h4 class="card-title"><i class="tim-icons icon-sound-wave text-info "></i> {{ location.school }}  {{ location.school_type }} <h4>
                  </div>
			    </div>
			  </div>
			  <div class="card-body">
                <table class="table tablesorter " id="3"><TR><TD>			  
				<div class="chart-area">
                  <canvas id="myChart"></canvas>
                </div></TD></TR></TABLE>
              </div>
            </div>
          </div>
        </div>					
		
    {% endblock %}
	{% block jsinclude %}
	<!-- Chart JS -->
    <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
	<!-- javascript init -->
	
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'line',
		  data: {
			labels: {{ date_array }},
			datasets: [{
			  label: 'Cases by day',
			  data: {{ count_array }},
			  backgroundColor: "rgba(32,216,52,0.4)"
			}]
		  },
		      options: {
			    maintainAspectRatio: false,
                responsive: true,
				scales: {
					yAxes: [{
					ticks: {
                	beginAtZero: true,
					steps: 10,
                    stepValue: 1,
                    max: 10
							}
					}]
				}
			}
		});
	</script>
	{% endblock %}

