{% extends "base/dash.html" %}
    {% block title %}Instances{% endblock %}
    {% block header %}{{ username }}{% endblock %}
    {% block contentrow %}    
         <!-- 2 table row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-category">test data</h5>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary "></i>test data</h3>
              </div>
              <div class="card-body ">
                <div class="table-responsive">
                  <table class="table tablesorter " id="1">
                    <thead class=" text-primary">
                      <th>
                        form data
                      </th>
					</thead>
                    <tbody>				
                       <tr>
                        <td>
                          {{ form_data }}
                        </td>
					  </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
